<script>
    $(document).ready(function(){ 
        function submitFile(){
            var fd = new FormData();
            fd.append('file', getFile())
            $.ajax({
                url: "{% url 'process_image' %}",
                type: "POST",
                data: fd,
                processData: false,
                contentType: false,
                success: function(data){
                    // console.log(data.content);
                    if(data.content){
                        $('#content').html(
                            "<p>" + data.content + "</p>"
                        )
                    }  
                }
            })
        }

        function getFile(){
            var fp = $("#file_id")
            var item = fp[0].files
            return item[0]
        }

        // Submit the file for OCRization
        $("#ocrForm").on('submit', function(event){
            event.preventDefault();
            submitFile()
        })
    });
</script>

<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <meta charset ="utf-8">
    <title>OCR</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>イメージあるいはPDFファイルの文字認識とエクセル出力</h2>
        <br>
    <form enctype="multipart/form-data" id="ocrForm" action="{% url 'process_image' %}" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
        {% csrf_token %}
        {{ form }}
        <br><br>
        {{ choiceform}}
        <br><br>
        {{ outputform}}
        <br><br>
        <button type="submit" class="btn btn-success">OCRの実行</button>
    </form>
    <br>
    <h3>（１）イメージファイル（png/jpg)あるいはpdfファイルを選択し、（２）必要ならば、図形の回転を指示して（３）OCRの実行ボタンを押すと文字認識を実行し、EXCELに出力します。</h3>

    <br><br><hr>
    <div id="content" style="width: 50%; margin: 0 auto;">
        
    </div>
    <div>
        <p>
            <h2>補足</h2>
            <h3>（１）対象：印刷された文書（FAXで送付された文書、印刷された伝票など）をスキャンして PDFファイルとして保存したデータです。</h3>
            <h3>           クリックしてテキストが選択可能なPDFファイルは別途処理が必要です（追加予定）。</h3>
            <h3>（２）図形の回転の意味：例えば右回転は下図の様な処理を行います。基本的には横方向に印刷されたイメージの文書を処理します。</h3>
        </p>
        <img src="{% static 'ocr_app/Right.JPG' %}">
    </div>

</div>
</body>
</html>